{% raw %}
<div class="form-group">
  <label>{{ question.label }}</label>
  {% if question.description %}
  <p>{{ question.description }}</p>
  {% endif %}
  {% for choice in question.choices %}
  <div class="checkbox{% if choice.value == "__other_option__" %} form-inline{% endif %}">
    <label>
      <input type="checkbox" name="{{ form[key].name }}" value="{{ choice.value }}"{% if question.required %} required{% endif %}>
      {% if choice.value == "__other_option__" %}
        {{ site.translations[page.language].other }}
      </label>
        <input class="form-control input-sm other-input" name="{{ form[key].name }}.other_option_response" value="" dir="auto" aria-label="{{ question.choice_other }}" type="text">
      {% else %}
        {{ choice.label }}
        </label>
      {% endif %}
  </div>
  {% endfor %}
</div>
{% endraw %}
